<h3>橫山車站舊月台</h3>
<p><%= image_tag "spot2.jpg", :style => "width:683px;height:512px" %></p>

<p><%= link_to 'New message', new_message_path %></p>
<p><%= link_to 'Back', travelmap_index_path %></p>

<table>
<tr>
<th>Username</th>
<th>Description</th>
<th></th>
<th></th>
</tr>
<% @msg.each do |msg| %>
<tr>
<td><%= msg.name %></td>
<td><%= msg.description %></td>
</tr>
<% end %>
</table>

<%= @msg%>


